
<!DOCTYPE html>
<html>
<head>
  <title>Express.js & PostgreSQL Web App</title>
</head>
<body>
    <h1>Profile page/not protected</h1>
    
    <form method="POST" action="/logout">
        <input type="submit" value="Odjavi se">
    <form>
</body>
</html>